/* body{
    min-height: 2000px;
} */

.about-section{
    padding-top: 200px;
}

.jumbotron{
    padding-top: 100px;
    background-color: aqua;
}

.project-section{
    padding-top: 100px;
}

.tools-skills-section{
    padding-top:100px;
   
}

.contact-section{
    padding-top: 100px;
    /* min-height: 5000px; */
}